<table border="4" width="100%">
  <tr>
    <th colspan="3">
      <div class="name">Zzz Stats</div>
    </th>
  </tr>
  <tr>
    <th class="header">Date</th>
    <th class="header">Hours Slept</th>
    <th class="header"></th>
  </tr>
  <% @stats.each do |stat| %>
    <tr>
      <td class="date"><%= stat.clean_time%></td>
      <td class="hours"><%= stat.hours %></td>
      <td class="btn"><%= form_tag "sleep-stats/#{stat.id}", method: "DELETE" do %>
        <%= submit_tag "Delete", data: { confirm: "Are you sure?" } %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<div class="sub-center">
  <% if @stat %>
    <% @stat.errors.each do |column, message| %>
      <div class="error"><strong># of <%= column %> <%= message %></strong></div>
    <% end %>
  <% end %>
</div>

<div class="sub-center">
  <%= form_tag "/sleep-stats" do %>
    <%= label_tag "# of hours"%>
    <%= text_field_tag "stat[hours]", nil, placeholder: "hours slept" %>
    <%= submit_tag "Add" %>
  <% end %>
</div>
