<table border="4" width="100%">
  <tr>
    <th colspan="4">
      <div class="name">Zzz Stats</div>
    </th>
  </tr>
  <tr>
    <th class="header">Date</th>
    <th class="header">Hours Slept</th>
    <th class="header">Mood</th>
    <th class="header"></th>
  </tr>
  <% @stats.each do |stat| %>
    <tr>
      <td><%= stat.clean_time%></td>
      <td><%= stat.hours %></td>
      <td><%= stat.mood %></td>
      <td><%= form_tag "/sleep-stats/#{stat.id}", method: "DELETE" do %>
        <%= submit_tag "Delete", data: { confirm: "Are you sure?" } %>
        <% end %>
        <div class="btn">Edit</div>
      </td>
    </tr>

    <tr class="update">
      <td><%= stat.clean_time%></td>
      <td><%= stat.hours %></td>
      <td><%= stat.mood %></td>
      <td><%= form_tag "/sleep-stats/#{stat.id}", method: "PATCH" do %>
        <%= text_field_tag "stat[hours]", stat.hours, :size => 5%>
        <%= text_field_tag "stat[mood]", stat.mood, :size => 5%>
        <%= submit_tag "Update" %>
      <% end %>
      </td>
    </tr>
  <% end %>
</table>

<div class="sub-center">
  <% if @stat %>
    <% @stat.errors.full_messages.each do |message| %>
      <div class="error"><strong><%= message %></strong></div>
    <% end %>
  <% end %>
</div>

<div class="sub-center">
  <%= form_tag "/sleep-stats" do %>
    <div class="left-btn">
      <%= label_tag "# of hours"%>
    </div>
    <div class="right-btn">
      <%= text_field_tag "stat[hours]", nil, placeholder: "hours slept", :size => 10 %>
    </div>
    <br>
    <div class="left-btn">
      <%= label_tag "mood"%>
    </div>
    <div class="right-btn">
      <%= text_field_tag "stat[mood]", nil, placeholder: "mood", :size => 10  %>
    </div>
    <br>
    <div class="center-btn">
      <%= submit_tag "Add" %>
    </div>
  <% end %>
</div>

<img src="http://placekitten.com/700/303">
