<table border="5" width="100%">
  <tr>
    <th colspan="3">
      <h3><br>Zzz Stats</h3>
    </th>
  </tr>
  <tr>
    <th>Date</th>
    <th>Hours Slept</th>
    <th>Delete</th>
  </tr>
  <% @sleep_stats.each do |stat| %>
    <tr>
      <td><%= stat.clean_time%></td>
      <td><%= stat.hours %></td>
      <td><%= link_to "Remove" %></td>
    </tr>
  <% end %>
</table>

<div>
  <% if @sleep_stat %>
    <% @sleep_stat.errors.each do |column, message| %>
      <div><strong># of <%= column %> <%= message %></strong></div>
    <% end %>
  <% end %>
</div>

<div>
  <h2>Add Hours Slept</h2>
  <%= form_tag "/sleep-stats" do %>
    <%= label_tag "# of hours"%>
    <%= text_field_tag :hours, nil, placeholder: "hours slept" %>
    <%= submit_tag "Add" %>
  <% end %>
</div>
